<!DOCTYPE html>
<html lang="ko">
  <head>
      <% include ./partials/head %>
  </head>
  <body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>역경매 플랫폼</h1>
            <p>역경매 플랫폼에 오신걸 환영합니다.</p>
        </div>
        <div class="">
          <ul>
            <% for(var i=0; i < topics.length; i++){ %>
              <li>
                <a href='/content/<%= topics[i].id %>'><%= topics[i].title %></a>
              </li>
            <% } %>
          </ul>
        </div>

        <div class="">
          <% if (locals.topic){ %>
            <h2><%= topic.title %></h2>
            <h4><%= topic.description %><h4>
            by <%= topic.author %>
          <%}else{%>
            <h2>Welcome</h2>
            This is server side javascript tutorial.
          <%}%>
        </div>

        <div class="">
          <a href="/content/add">글 작성하기</a>
        </div>
    </main>



    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
