<!DOCTYPE html>
<html lang="ko">

<head>
    <% include partials/head.ejs %>
        <style>
            input[type="submit"] {
                color: black;
            }

            h4#myModalLabel {
                color: black;
            }

            .form-control {
                background-color: rgba(202, 193, 193, 0.5);
                color: black;
            }

            .right-content .section {
                padding: 100px 0 0px;
            }

            .fixed-table-body1 {
                overflow-x: auto;
                height: 500px;
                border: solid 5px white;
                border-radius: 10px;
            }

            .fixed-table-body2 {
                overflow-x: auto;
                height: 120px;
                border: solid 1px gray;
                border-radius: 10px;
            }

            .row1 input {
                color: black;
            }

            .btn1 {
                margin: 0 0 0 0;
                vertical-align: middle;
                padding-top: 0;
                padding-bottom: 0;
            }

            td,
            th,
            table {
                text-align: center;
            }

            #deModalHeader {
                background: #337ab7;
                ;
            }

            .modal-content {
                color: black;
            }

            .modal-footer {
                border: 0px solid white;
            }

            div#tradeBody {
   	 			background: rgba(0, 0, 0, 0.75);
			}

			input.form-control {
        		color:black;
			}
        </style>


</head>

<body class="slider-background">

    <% include partials/header.ejs %>

    <!-- right-content -->
    <div class="right-content">

        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="section-heading">
                    <h2>제안 확인하기</h2>
                    <div class="separator"></div>
                </div>
            </div>
            <!-- ./container -->

        </section>
        <!-- ./section -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row" style="text-align: right">
                    <button trcode="<%=data[0].trcode%>" class="btn btn-dark btn-lg" id="simFilter">
						유사제안 선별하기&nbsp;<i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
					</button>
                </div>
                <div class="row">
                    <!-- <label>단말기 정보</label> -->

                    <div class="fixed-table-body1" id="tradeBody">
                    	<label>&nbsp;&nbsp;&nbsp;<i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;들어온 모든 제안서</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">요금제</th>
                                    <th scope="col">단말기</th>
                                    <th scope="col">용량</th>
                                    <th scope="col">최종단말지불액</th>
                                    <th scope="col">최종월정액</th>
                                    <th scope="col">제안서 보기</th>
                                </tr>
                            </thead>
                            <tbody >
                                <% for (let i in data){ %>
                                <tr>
                                    <td><%=data[i].coname%></td>
                                    <td><%=data[i].pdname%></td>
                                    <td><%=data[i].memsize%></td>
                                    <td><%=data[i].r_pdprice%></td>
                                    <td><%=data[i].r_coprice%></td>
                                    <td><input type="button" value="보기" class="btn btn-dark btn1 updModal" data-toggle="modal" secode="<%=data[i].secode%>" trcode="<%=data[i].trcode%>" data-target="#detailModal"></td>
                                </tr>
                                <%} %>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
        <!-- ./section -->
        <!-- footer -->
        <% include partials/footer.ejs %>
            <!-- ./footer -->

    </div>
    <!-- ./right-content -->


    <!-- 상세 제안서 확인 -->
    <!-- Modal -->
    <div id="detailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="deModalHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">상세제안서 확인하기</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <label for="deConame">요금제:</label> <input type="text" id="deCoName" class="form-control" value="">
                    </div>
                    <div class="col-md-6">
                        <label for="deCoprice">기본요금제 가격:</label> <input type="text" id="deCoprice" class="form-control" value="">
                    </div>
                    <div class="col-md-6">
                        <label for="dePdname">단말기:</label> <input type="text" id="dePdname" class="form-control" value="">

                    </div>

                    <div class="col-md-6">
                        <label for="deMemorysize">용량:</label> <input type="text" id="deMemorysize" class="form-control" value="">
                    </div>


                    <div class="col-md-6">
                        <label for="deEtcname">부가옵션:</label>
                        <div class="fixed-table-body2">
                            <table class="table table-bordered" id="etTable">

                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="deDiname">추가할인:</label>
                        <div class="fixed-table-body2">
                            <table class="table table-bordered" id="diTable">

                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="r_pdprice">최종단말금액:</label> <input type="text" id="r_pdprice" class="form-control" value="">
                    </div>

                    <div class="col-md-6">
                        <label for="r_coprice">최종월정액:</label> <input type="text" id="r_coprice" class="form-control" value="">
                    </div>

                    <div class="col-md-12">
                        <label for="deContent">부가내용:</label>
                        <pre id="deContent">
						</pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">이
						제안서로 거래하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>

        </div>
    </div>

    <!-- .상세제안서 확인 -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/des/js/jquery-1.11.3.min.js"></script>
    <script src="static/des/js/bootstrap.min.js"></script>

    <!-- smooth-scroll -->
    <script src="static/des/plugins/smooth-scroll/smooth-scroll.js"></script>

    <!-- backstretch -->
    <script src="static/des/plugins/backstretch/backstretch.min.js"></script>

    <!-- owl-carousel -->
    <script src="static/des/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- wow -->
    <script src="static/des/plugins/wow/wow.js"></script>

    <!-- typed -->
    <script src="static/des/plugins/typed/typed.min.js"></script>

    <!-- magnific-popup -->
    <script src="static/des/plugins/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- jqBootstrapValidation -->
    <script src="static/des/plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>

    <!-- switcher -->
    <script type="text/javascript" src="static/des/switcher/switcher.js"></script>

    <!-- main js -->
    <script src="static/des/js/main.js"></script>

    <script>

    </script>
    <script>

        $('.updModal').on('click', function() {

            let secode = $(this).attr("secode")
            let trcode = $(this).attr("trcode")
            console.log(secode, trcode);
            $.ajax({
				type: "GET",
			    url: "/suggest1",
                data: {secode, trcode},
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);

                    $('#deCoName').val(data[0].coname);
                    $('#deCoprice').val(data[0].coprice);
                    $('#deSeName').val(data[0].sename);
                    $('#dePdname').val(data[0].pdname);
                    $('#deMemorysize').val(data[0].memsize);
                    $('#r_pdprice').val(data[0].r_pdprice);
                    $('#r_coprice').val(data[0].r_coprice);
                    $('#deContent').val(data[0].content);
				}
			}).done(function(){
                $.ajax({
    				type: "GET",
    			    url: "/suggest2",
                    data: {secode, trcode},
    			    dataType: "json",

    			    cache:false,
    			    success: function (data) {
    					console.log(data);

                        $('#diTable').empty()
                        let str = '';
                        for(let i in data){
                            str += '<tr>'
                            str += '<td>'+data[i].diname+'</td>'
                            str += '<td>'+data[i].discount
                            if(data[i].dpcode == 'S'){
                                str += '원'
                            }else{
                                str += '%'
                            }
                            str += '</td>'
                            str += '</tr>'
                        }
                        $('#diTable').append(str)
    				}
    			})
            }).done(function(){
                $.ajax({
    				type: "GET",
    			    url: "/suggest3",
                    data: {secode, trcode},
    			    dataType: "json",

    			    cache:false,
    			    success: function (data) {

    					console.log(data);
                        let str = '';
                        $('#etTable').empty()
                        for(let i in data){
                            str += '<tr>'
                            str += '<td>'+data[i].etname+'</td>'
                            str += '<td>'+data[i].etprice+'원</td>'
                            str += '</tr>'
                        }
                        $('#etTable').append(str)
    				}
    			})
            })
        })



    $('#simFilter').on('click', function(){
        let trcode = $(this).attr("trcode")
        console.log(trcode);
        $.ajax({
            type: "GET",
            url: "/filter",
            data: {trcode},
            dataType: "json",
            cache:false,
            success: function (data) {

                console.log(data)
                let str = '<label>&nbsp;&nbsp;&nbsp;<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;선별된 제안서</label>'
                // str += '<div class="row ">'
                // str += '<div class="fixed-table-body1">'
                str +=    '<table class="table table-bordered">'
                str +=        '<thead>'
                str +=            '<tr>'
                str +=                '<th scope="col">요금제</th>'
                str +=                '<th scope="col">단말기</th>'
                str +=                '<th scope="col">용량</th>'
                str +=                '<th scope="col">최종단말지불액</th>'
                str +=                '<th scope="col">최종월정액</th>'
                str +=                '<th scope="col">유사도</th>'
                str +=                '<th scope="col">제안서 보기</th>'
                str +=            '</tr>'
                str +=        '</thead>'
                str +=        '<tbody>'
                for(let i in data){
                    str += '<tr>'
                    str += '<td>'+data[i].coname+'</td>'
                    str += '<td>'+data[i].pdname+'</td>'
                    str += '<td>'+data[i].memsize+'</td>'
                    str += '<td>'+data[i].r_pdprice+'</td>'
                    str += '<td>'+data[i].r_coprice+'</td>'
                    str += '<td>'+data[i].matcnt+'</td>'
                    str += '<td><input type="button" value="보기" class="btn btn-dark btn1 updModal" data-toggle="modal" secode="'+data[i].secode+'" trcode="'+data[i].trcode+'" data-target="#detailModal"></td>'
                    str += '</tr>'
                }
                str += '</tbody>'
                str += '</table>'
                // str += '</div>'
                // str += '</div>'
                $("#tradeBody").prepend(str)
                $("#simFilter").unbind("click")
                $('.updModal').on('click', function() {

            let secode = $(this).attr("secode")
            let trcode = $(this).attr("trcode")
            console.log(secode, trcode);
            $.ajax({
				type: "GET",
			    url: "/suggest1",
                data: {secode, trcode},
			    dataType: "json",
			    cache:false,
			    success: function (data) {
					console.log(data);

                    $('#deCoName').val(data[0].coname);
                    $('#deCoprice').val(data[0].coprice);
                    $('#deSeName').val(data[0].sename);
                    $('#dePdname').val(data[0].pdname);
                    $('#deMemorysize').val(data[0].memsize);
                    $('#r_pdprice').val(data[0].r_pdprice);
                    $('#r_coprice').val(data[0].r_coprice);
                    $('#deContent').val(data[0].content);
				}
			}).done(function(){
                $.ajax({
    				type: "GET",
    			    url: "/suggest2",
                    data: {secode, trcode},
    			    dataType: "json",

    			    cache:false,
    			    success: function (data) {
    					console.log(data);

                        $('#diTable').empty()
                        let str = '';
                        for(let i in data){
                            str += '<tr>'
                            str += '<td>'+data[i].diname+'</td>'
                            str += '<td>'+data[i].discount
                            if(data[i].dpcode == 'S'){
                                str += '원'
                            }else{
                                str += '%'
                            }
                            str += '</td>'
                            str += '</tr>'
                        }
                        $('#diTable').append(str)
    				}
    			})
            }).done(function(){
                $.ajax({
    				type: "GET",
    			    url: "/suggest3",
                    data: {secode, trcode},
    			    dataType: "json",

    			    cache:false,
    			    success: function (data) {

    					console.log(data);
                        let str = '';
                        $('#etTable').empty()
                        for(let i in data){
                            str += '<tr>'
                            str += '<td>'+data[i].etname+'</td>'
                            str += '<td>'+data[i].etprice+'원</td>'
                            str += '</tr>'
                        }
                        $('#etTable').append(str)
    				}
    			})
            })
        })
            }
        })
    })


    </script>


</body>

</html>
